.react-calendar {
  width: 100%;
  background: white;
  border: none;
  font-family: "Pretendard-R";
  line-height: 1.125em;
  padding: 15px;
  border-radius: 15px;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 16px;
  color: #333;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
  color: #666;
}

.react-calendar__month-view__days__day--weekend {
  color: #ff8585;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 12px;
  background: none;
  text-align: center;
  font-size: 0.9em;
  color: #333;
}

.react-calendar__tile--now {
  background: transparent;
  color: #333;
  /* font-weight: bold; */
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: transparent;
  color: #333;
}

.react-calendar__tile--active {
  background: #4361EE;
  color: white;
  border-radius: 8px;
}

.react-calendar__tile:disabled {
  background-color: transparent;
  color: #DCDCDC;
}

.react-calendar__navigation button:disabled {
  background-color: transparent;
  color: #DCDCDC;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #4361EE;
  color: white;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border-radius: 8px;
  transition: all 0.2s;
}

.react-calendar__tile--hasActive:active {
  outline: none;
}

/* 요일 헤더 스타일 */
.react-calendar__month-view__weekdays {
  text-align: center;
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday:nth-child(7) abbr {
  color: #F44C1D !important;
}

.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
  background-color: transparent;
}