.react-calendar {
width: 100%;
  background: white;
  border: none;
  font-family: "Pretendard_R";
  line-height: 1.125em;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 16px;
  color: #333;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
  color: #666;
}

.react-calendar__month-view__days__day--weekend {
  color: #ff8585;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 12px;
  background: none;
  text-align: center;
  font-size: 0.9em;
  color: #333;
}

.react-calendar__tile--now {
  background: transparent;
  color: #4361ee;
  font-weight: bold;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: transparent;
  color: #4361ee;
}

.react-calendar__tile--active {
  background: #7bdeb6;
  color: white;
  border-radius: 8px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #7bdeb6;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border-radius: 8px;
  transition: all 0.2s;
}

.react-calendar__tile--hasActive:active {
    outline: none;
  }